export PATH="$PATH:${$(find ~/.local/bin -type d -printf %p:)%%:}"

export TERMINAL="alacritty"
export EDITOR="nvim"
export VISUAL="$EDITOR"
export BROWSER="{{- .browser }}"
export READER="zathura"
export VISUAL="nvim"
export PAGER="less"

export LANG=en_US.UTF-8

# xdg config
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"

# cleanup home dir
export XAUTHORITY="$XDG_RUNTIME_DIR/Xauthority"
export GTK2_RC_FILES="$XDG_CONFIG_HOME/gtk-2.0/gtkrc-2.0"
export WGETRC="$XDG_CONFIG_HOME/wgetrc"
export DOCKER_CONFIG="$XDG_CONFIG_HOME/docker"
export GRADLE_USER_HOME="$XDG_DATA_HOME/gradle"
export STACK_ROOT="$XDG_DATA_HOME/stack"
export CARGO_HOME="$XDG_DATA_HOME/cargo"
export GOPATH="$XDG_DATA_HOME/go"
export WINEPREFIX="$XDG_DATA_HOME/wineprefixes/default"
export _Z_DATA="$XDG_DATA_HOME/z"
export ELECTRUMDIR="$XDG_DATA_HOME/electrum"
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
export LESSHISTFILE="-"
export GNUPGHOME="$XDG_DATA_HOME/gnupg"

# system settings
export CM_LAUNCHER=rofi
export QT_QPA_PLATFORMTHEME="qt5ct"
#export QT_QPA_PLATFORMTHEME="gtk2"


#startx
_debug=true
if [ "$(tty)" = "/dev/tty1" ] && ! pgrep startx; then
  if $_debug && command -v startx-with-log &> /dev/null; then
    startx-with-log "$XDG_CONFIG_HOME/x11/xinitrc"
  else
    startx "$XDG_CONFIG_HOME/x11/xinitrc"
  fi
fi
