# setup path
_user_path="$(find ~/.local/bin -type d | tac | tr '\n' ':')"
export PATH="${_user_path}${PATH}:$HOME/.local/share/coursier/bin"

# default programs
export TERMINAL="/usr/bin/alacritty"
export EDITOR="nvim"
export VISUAL="$EDITOR"
export BROWSER="{{- .conf.browser }}"
export READER="zathura"
export PAGER="less"

# xdg config
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_STATE_HOME="$HOME/.local/state"

# cleanup home dir
export XAUTHORITY="$XDG_RUNTIME_DIR/Xauthority"
export GTK2_RC_FILES="$XDG_CONFIG_HOME/gtk-2.0/gtkrc-2.0"
export WGETRC="$XDG_CONFIG_HOME/wgetrc"
export DOCKER_CONFIG="$XDG_CONFIG_HOME/docker"
export GRADLE_USER_HOME="$XDG_DATA_HOME/gradle"
export STACK_ROOT="$XDG_DATA_HOME/stack"
export CARGO_HOME="$XDG_DATA_HOME/cargo"
export GOPATH="$XDG_DATA_HOME/go"
export WINEPREFIX="$XDG_DATA_HOME/wineprefixes/default"
export _Z_DATA="$XDG_DATA_HOME/z"
export _ZL_DATA="$_Z_DATA"
export ELECTRUMDIR="$XDG_DATA_HOME/electrum"
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
export LESSHISTFILE="-"
export GNUPGHOME="$XDG_DATA_HOME/gnupg"
export XMONAD_DATA_DIR="$XDG_DATA_HOME/xmonad"
export XMONAD_CONFIG_DIR="$XDG_CONFIG_HOME/xmonad"
export XMONAD_CACHE_DIR="$XDG_CACHE_HOME/xmonad"
export PARALLEL_HOME="$XDG_CONFIG_HOME/parallel"
export PASSWORD_STORE_DIR="$XDG_DATA_HOME/password-store"

# for signle, global ssh agent
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
{{ if eq .conf.pid1 "init" -}}
if [ -z "$DBUS_SESSION_BUS_ADDRESS" ]; then
  export DBUS_SESSION_BUS_ADDRESS="unix:path=$XDG_RUNTIME_DIR/bus"
  /usr/bin/dbus-daemon --session --fork --nopidfile --address=$DBUS_SESSION_BUS_ADDRESS
fi
{{- end }}

# applications settings
export CM_LAUNCHER=rofi
export QT_QPA_PLATFORMTHEME="qt5ct"

# source local profile settings if present
_profile_local="$XDG_CONFIG_HOME/shell/profile.local"
[ -e "$_profile_local" ] && . "$_profile_local"

{{ if eq .conf.profile "pc" -}}
# start graphical interface on login on tty1
if [ "$(tty)" = "/dev/tty1" ] && ! pgrep startx; then
  xstart
fi
{{- end }}
# vi:syntax=sh
