configuration {
    modi: "combi,run,window";
    show-icons: true;
    sidebar-mode: true;
    combi-modi: "window,drun";
    combi-hide-mode-prefix: true;
    /* keybindings */
    kb-row-up: "Alt+k,Up,Control+p,ISO_Left_Tab";
    kb-row-down: "Alt+j,Down,Control+n";
    kb-mode-next: "Alt+l,Shift+Right,Control+Tab";
    kb-mode-previous:	"Alt-h,Shift+Left,Control+ISO_Left_Tab";
}

@theme "ebdbb2"
