{{- if eq .chezmoi.hostname "LT33693" }} # work laptop
[url "https://github.com/"]
	insteadOf = git@github.com:
[url "https://"]
	insteadOf = git://
[user]
	email = j.rozenbajger@ocado.com
	name = Jakub Rozenbajger
{{- else }}
[user]
	email = thequetran@gmail.com
	name = JRozen
{{- end }}
[core]
	editor = vim
[pull]
	rebase = true
