;----------------
; General
;----------------

[settings]
screenchange-reload = true
locale = en_US.UTF-8

[global/wm]
margin-top = 0
margin-bottom = 0

[colors]
transparent = #00000000
background = #080808
foreground = #ebdbb2
urgent = #cc241d
inactive = #786954
orange = #faa00f
red = #f94144

[bar/top]
width = 100%
height = 22
fixed-center = true
monitor = ${env:MONITOR:}
enable-ipc = true

scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev

spacing = 0
padding-left = 0
padding-right = 2
module-margin-left = 2
module-margin-right = 2
module-margin-top = 2
module-margin-bottom = 2

;colors
background = ${colors.background}
foreground = ${colors.foreground}
line-color = ${colors.background}
line-size = 1
underline-size = 1

font-0 = Segoe UI:size=9:fontformat=truetype
font-1 = Noto Sans:size=9:fontformat=truetype
font-2 = NotoSans-Regular:size=8;-1
font-3 = MaterialIcons:size=10;0
font-4 = FontAwesome:size=10;0
font-5 = DejaVuSansMono Nerd Font:size=10;0

;; tray
tray-position = right
tray-padding = 5
tray-background = ${colors.background}
tray-detached = false
tray-maxsize = 15
tray-scale = 1

modules-left = i3 xwindow
modules-center = date
{{- if eq .machine_type "desktop" }}
modules-right = music weather vpn lan filesystem temperature cpu memory xdpms pulseaudio
{{- else }}
modules-right = music weather vpn wlan lan backlight filesystem temperature cpu memory xdpms battery pulseaudio
{{- end }}

separator =

;----------------
; Modules
;----------------

[module/xwindow]
type = internal/xwindow
label = %title:0:180:…%


[module/i3]
type = internal/i3
strip-wsnumbers = true
index-sort = true

format = <label-state> <label-mode>

label-mode-foreground = ${colors.background}
label-mode-background = ${colors.orange}
label-mode-padding = 5

label-unfocused = "  %name%  "

label-focused = "  %name%  "
label-focused-foreground = ${colors.background}
label-focused-background = ${colors.foreground}

label-urgent = "  %name%  "
label-urgent-foreground = ${colors.background}
label-urgent-background = ${colors.urgent}

label-visible = "  %name%  "
label-visible-foreground = ${colors.background}
label-visible-background = ${colors.inactive}
;label-visible-underline = ${colors.foreground}


[module/temperature]
type = internal/temperature
format = <ramp> <label>
format-warn = <ramp> <label-warn>
label = +%temperature-c%
label-warn = +%temperature-c%
interval = 1
{{- if eq .chezmoi.hostname "LT33693" }}
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon9/temp1_input
{{- else }}
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input
{{- end }}
base-temperature = 35
warn-temperature = 75
ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 
ramp-5 = 
ramp-6 = 
label-warn-foreground = ${colors.orange}
ramp-6-foreground = ${colors.orange}


[module/backlight]
type = internal/backlight
card = intel_backlight
format = <label>
format-padding = 1
label =   %percentage%


[module/xdpms]
type = custom/script
exec = $HOME/.config/polybar/scripts/xdpms.sh
label = %output:0:7:…%
format-padding = 1
interval = 2
click-left = $HOME/.config/polybar/scripts/xdpms.sh toggle


[module/music]
type = custom/script
exec = $HOME/.config/polybar/scripts/mediaplayer.sh
label = %output:0:40:…%
format-padding = 1
interval = 2
exec-if = test `playerctl -l | grep -v playerctl | wc -l` -gt 0
click-left = playerctl play-pause --player=playerctld
click-middle = playerctl previous --player=playerctld
click-right = playerctl next --player=playerctld


[module/pulseaudio]
type = internal/pulseaudio
;unreleased TODO: update when available
;click-right = pavucontrol &
;format-volume = <ramp-volume> <label-volume>
format-volume = "%{A3:pavucontrol &:}<ramp-volume> <label-volume>{A}"
use-ui-max = false
label-muted =  muted
label-muted-foreground = ${colors.inactive}
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
format-padding = 1
format-volume-padding = 1


[module/date]
type = internal/date
interval = 1
date = "%d.%m.%Y"
date-alt = "%A, %d %B %Y"
time = "%H:%M"
time-alt = "%H:%M:%S"
format-padding = 1
label = "%{A3:$HOME/.config/polybar/scripts/calendar.sh:}%date%  -  %time%%{A}"


[module/filesystem]
type = internal/fs
mount-0 = /
interval = 20
format-padding = 1
label-mounted =   %free%


[module/cpu]
type = internal/cpu
interval = 0.5
format = <label> <ramp-coreload>
label = 
format-padding = 1
ramp-coreload-spacing = 0
ramp-coreload-0 = ▁
ramp-coreload-1 = ▂
ramp-coreload-2 = ▃
ramp-coreload-3 = ▄
ramp-coreload-4 = ▅
ramp-coreload-4-foreground = ${colors.orange}
ramp-coreload-5 = ▆
ramp-coreload-5-foreground = ${colors.orange}
ramp-coreload-6 = ▇
ramp-coreload-6-foreground = ${colors.red}
ramp-coreload-7 = █
ramp-coreload-7-foreground = ${colors.red}


[module/memory]
type = internal/memory
format = <label> <bar-used>
label = 
format-padding = 1
interval = 3
bar-used-width = 9
bar-used-foreground-0 = ${colors.foreground}
bar-used-foreground-1 = ${colors.foreground}
bar-used-foreground-2 = ${colors.orange}
bar-used-foreground-3 = ${colors.red}
bar-used-indicator = |
bar-used-indicator-foreground = ${colors.foreground}
bar-used-fill = –
bar-used-empty = –
bar-used-empty-foreground = ${colors.inactive}


[module/lan]
type = internal/network
interface = enp0s31f6
format-connected-padding = 1
format-disconnected-padding = 1
format-connected = <label-connected>
label-connected = %{A3:networkmanager_dmenu:} %downspeed:10%%{A}
label-disconnected = %{A3:networkmanager_dmenu:}   OFF%{A}
label-disconnected-foreground = ${colors.inactive}


[module/wlan]
type = internal/network
interface = wlp3s0
format-connected-padding = 1
format-disconnected-padding = 1
format-connected = <label-connected>
label-connected = %{A3:networkmanager_dmenu:} %downspeed:9% %essid:0:4:…%%{A}
label-disconnected = %{A3:networkmanager_dmenu:} OFF%{A}
label-disconnected-foreground = ${colors.inactive}


[module/vpn]
type = custom/script
exec = pgrep openvpn
interval = 5
label = vpn
format-prefix = " "


[module/battery]
type = internal/battery
{{- if eq .chezmoi.hostname "LT33693" }}
battery = BAT1
{{- else }}
battery = hidpp_battery_0
{{- end }}
adapter = AC
full-at = 99

format-charging = <animation-charging> <label-charging>

format-discharging = <ramp-capacity> <label-discharging>
label-discharging = %percentage% (%time%)

format-full-prefix = "  "
format-padding = 1

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-framerate = 750


[module/weather]
type = custom/script
exec = $HOME/.config/polybar/scripts/weather.sh Wroclaw
label = "%output%"
click-right = xdg-open https://wttr.in/Wroclaw
interval = 1800
