[settings]
screenchange-reload = true

[global/wm]
margin-top = 0
margin-bottom = 0

[variables]
{{- if eq .chezmoi.hostname "LT33693" }}
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon8/temp1_input
battery = BAT1
lan-interface = enp0s31f6
wlan-interface = wlp3s0
modules-right = music weather updatestatus vpn wlan lan backlight filesystem temperature cpu memory xdpms battery pulseaudio
{{- else if eq .chezmoi.hostname "jrarch" }}
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input
lan-interface = enp0s31f6
modules-right = music weather updatestatus vpn lan filesystem temperature cpu memory xdpms pulseaudio
{{- else if eq .chezmoi.hostname "arc" }}
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon3/temp1_input
lan-interface = enp0s31f6
modules-right = music weather updatestatus vpn lan filesystem temperature cpu memory xdpms pulseaudio
{{- else }}
modules-right = music weather updatestatus filesystem cpu memory xdpms pulseaudio
{{- end }}

[colors]
transparent = #00000000
background = #080808
foreground = #ebdbb2
urgent = #cc241d
inactive = #786954
orange = #faa00f
red = #f94144

; vim:syntax=dosini
;
