[Desktop Entry]
Version=1.0
Name=Web Browser
GenericName=Web Browser
Comment=Access the Internet
Exec={{- .conf.browser }} %U
StartupNotify=true
Terminal=false
Icon=web-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
